@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));


/* Estilo personalizado de scrollbar para modo oscuro */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #4b5563; /* zinc-600 */
  border-radius: 6px;
  border: 2px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #6b7280; /* zinc-500 */
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  animation: scroll 60s linear infinite;
}
